{% extends 'layout/auth.html.twig' %}

{% block title %}Login{% endblock %}

{% block form %}
    {{ form(form) }}
    <div class="mb-2">
        <a href="{{ path('register') }}">Register</a>
    </div>
{% endblock %}